h1{
        text-align: center;
        color: black;
        font-family:Arial, Helvetica, sans-serif;
        margin-top: 20px;
}

h2{
        text-align: center;
        color: black;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 14px;
        padding-top: 20px;
}

main{
        background-color:white;
        width: 90%;
        margin: 3% auto;
        border-radius: 40px;
        height: 95vh;
}
body{
        background-color: black;
}

.dpi-calc{
        max-width: 550px;
        margin: 0 auto;
        display: flex;
}

.input-fields{
        display:flex;
}

.btn, .calculate{
        text-align: center;
}

.calculate{
        cursor: pointer;
}