*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body{
        font-family: 'Poppins', sans-serif;
}

button{
        font-family: 'Poppins', sans-serif;
}

header{
        display: flex;
        height:10vh;
        width: 100vw;
        margin:auto;
        align-items: center;
        background: black;
        margin-bottom: 2px;
}

.logo-container, .navigation, .account-container{
        display:flex;
}

.logo-container{
        flex: 1;
}

.logo{
        font-weight: 400px;
        margin:5px;
        color:white;
}

.navigation{
        flex: 2;
}

.nav-links{
        list-style: none;
        justify-content: space-around;
}

.nav-link{
        color: white;
        font-size: 18px;
        text-decoration: none;
}

.account-container{
        flex: 1;
        justify-content: flex-end;
        margin-right: 50px;
}

.logo-container img{
        width: 100px;
        height:100px;
        background: white;
}

.account-container img{
        width: 50px;
        height: 50px;
}

.content{
        display: flex;
        width: 100%;
        margin: auto;
        min-height: 10vh;
        align-items: top;  
        background-color:black;
        padding: 10px 10px 10px 10px;
}

.introduction{
        color: white;
        flex:1;
}

.introduction h1{
        text-align: center;
}

.introduction h4{
        text-align: center;
}

.ui{
        background:grey;
        min-height: 60vh;
}