*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body{
        font-family: 'Poppins', sans-serif;
}

button{
        font-family: 'Poppins', sans-serif;
}

header{
        display: flex;
        height:10vh;
        width: 100vw;
        margin:auto;
        align-items: center;
        background: black;
}

.logo-container, .navigation, .account-container{
        display:flex;
}

.logo-container{
        flex: 1;
}

.logo{
        font-weight: 400px;
        margin:5px;
        color:white;
}

.navigation{
        flex: 2;
}

.nav-links{
        list-style: none;
        justify-content: space-around;
}

.nav-link{
        color: white;
        font-size: 18px;
        text-decoration: none;
}

.account-container{
        flex: 1;
        justify-content: flex-end;
}

.logo-container img{
        width: 100px;
        height:100px;
        background: white;
}

.account-container img{
        width: 50px;
        height: 50px;
}